form input{
    width: 100%;
    height: 4rem;
    background: rgb(218, 213, 213);
    padding: 1rem 1.4rem;
    border-radius: .5rem;
    margin-bottom: 1.4rem;
    font-size: 1.4rem;
}
form input:focus{
    outline: none;
}