html{
  font-size: 62.5%;
}
.container{
  width:96rem;
  margin: auto;
}

@media screen and (max-width:1400px) {
  .container{
    width: 132rem;
    margin: auto;
  }
}
@media screen and (max-width:1200px) {
  .container{
    width: 104rem;
    margin: auto;
  }
}
@media screen and (min-width:992px) and  (max-width:1199px) {
  .container{
    width: 96rem;
    margin: auto;
  }
}
@media screen and (max-width:768px) {
  html{
    font-size: 50%;
  }
  .container{
    width: 72rem;
    margin: auto;
  }
}
@media screen and (max-width:576px) {
  html{
    font-size: 45%;
  }
  .container{
    width: 100%;
    padding: 0 3rem;
    margin: auto;
  }
}